@import "../../../styles/mixins";

.wapper {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  p {
    font-family: "IBM Plex Sans", monospace;
    font-size: 1.75rem;
    &::before {
      content: "- ";
    }
  }
}

.heading {
  display: block;
  max-width: 900px;
  font-family: "IBM Plex Mono", monospace;
  margin: 0 auto;
  font-size: 4rem;
  letter-spacing: 0.08rem;
  font-weight: 700;
  @include for-phone-only {
    font-size: 2.5rem;
    margin: 15px;
  }
}

.noWrap {
  white-space: nowrap;
}
