:root {
  --white: #fff;
  --black: #000;
  --gray-100: #f3f3f3;
  --gray-200: #eeeeee;
  --gray-300: #dddddd;
  --gray-400: #cccccc;
  --gray-500: #bbbbbb;
  --gray-600: #a3a3a3;
  --gray-700: #8d8d8d;
  --gray-800: #737373;
  --gray-900: #5a5a5a;
  --red-salsa: #f94144ff;
  --orange-red: #f3722cff;
  --yellow-orange-color-wheel: #f8961eff;
  --mango-tango: #f9844aff;
  --maize-crayola: #f9c74fff;
  --pistachio: #90be6dff;
  --zomp: #43aa8bff;
  --cadet-blue: #4d908eff;
  --queen-blue: #577590ff;
  --cg-blue: #277da1ff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--white);
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

span {
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 4rem;
  letter-spacing: 0.08em;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin: 0;
  color: var(--black);
  text-rendering: optimizelegibility;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}

p {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizelegibility;
}

a {
  text-rendering: optimizelegibility;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
/* 
font-family: 'IBM Plex Mono', monospace;
font-family: 'IBM Plex Sans', sans-serif; */
