@import "../../../styles/mixins";

.wapper {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: rgb(196, 29, 29);
}

.flex img {
}
