@import "../styles/mixins";

.wrapper {
  h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 50px 0 0 0;
    @include for-tablet-landscape-up {
      font-size: 4rem;
    }
  }
  h2 {
    font-size: 1.25rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--black);
    margin: 0 0 15px 0;
    font-weight: 900;
  }
  p {
    color: var(--black);
    text-decoration: underline;
  }
  a {
    color: var(--black);
    padding: 1px 0;
    margin: 1px 0;
    &:hover {
      color: var(--gray-900);
    }
  }
}

.legend {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 25px 0 10px;
  padding: 0;
  p {
    text-decoration: none;
    padding: 0;
    margin: 0;
    margin-right: 25px;
  }
  li {
    padding: 0;
    margin: 10px 25px 10px 10px;
  }
}

.wip {
  color: var(--red-salsa);
}
.tutorial {
  color: var(--mango-tango);
}
.demo {
  color: var(--cg-blue);
}

.grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(1, 1fr);
  @include for-phone-only {
    grid-template-columns: repeat(1, 1fr);
  }
  @include for-tablet-portrait-up {
    grid-template-columns: repeat(2, 1fr);
  }
  @include for-tablet-landscape-up {
    grid-template-columns: repeat(3, 1fr);
  }
  @include for-desktop-up {
    grid-template-columns: repeat(4, 1fr);
  }
}

.block {
  background-color: var(--gray-300);
  color: var(--black);
  h2 {
    padding: 25px 25px 0 25px;
  }
  ul {
    margin: 0 10px 25px 0;
  }
  li {
    a {
      display: flex;
      align-items: center;
    }
    i {
      font-size: 1.125rem;
      margin: 0 0 0 8px;
    }
  }
  a {
    display: block;
    line-height: 1.45rem;
    cursor: pointer;
  }
}

.disclaimer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--gray-700);
  padding: 0 10px;
  p {
    margin-left: 10px;
    font-size: 0.85rem;
    color: var(--white);
    text-decoration: none;
    line-height: 1.35rem;
  }
  i {
    font-size: 1.25rem;
    color: var(--white);
    margin-left: 10px;
  }
}

#vertFlex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 65px);
}

#current {
  grid-row: span 3;
  grid-column: span 2;
  min-height: 350px;
  background-color: var(--black);
  @include for-phone-only {
    grid-column: 1;
  }
  h2 {
    color: white;
    font-weight: 900;
  }
  li {
    color: white;
  }
  a {
    color: white;
    &:hover {
      color: var(--gray-500);
    }
  }
}

// Vertical span articles
#webXr,
#framerMotion {
  grid-row: span 2;
  @include for-phone-only {
    grid-column: 1;
  }
}

#comingSoon {
  background-color: var(--gray-700);
  p {
    padding: 0 25px;
  }
}
