@import "../../../styles/mixins";

// TODO: There is a layout shift when state changes for the first time
.heading {
  font-family: "IBM Plex Mono", monospace;
  display: block;
  margin: auto;
  font-size: 4rem;
  letter-spacing: 0.08rem;
  font-weight: 700;
  @include for-phone-only {
    font-size: 2.5rem;
  }
}

.flex {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  @include for-tablet-landscape-up {
    height: calc(100vh - 75px);
  }
}

.first {
  display: inline-block;
  margin: 8px;
}

.last {
  display: inline-block;
  margin: 8px;
}

.underline {
  display: block;
  margin: auto;
  width: 96%;
  height: 6px;
  background-color: var(--black);
  @include for-phone-only {
    height: 4px;
  }
}
